{% extends 'base.html' %} {% load static %} {% block content %} 
<div class="site-section" data-aos="fade">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-md-7">
        <img
          src="{% static 'images/img_2.jpg' %}"
          alt="Images"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4">
        <h3 class="text-white">CRAZY KEHN</h3>
        <p>
          ■技術 - Skills 
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <br>
          ■関心 - Interests         
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <br>
          ■経歴 - Background
          <br>

          幼いころに母の友人の美術教師に賞賛されたことをきっかけにイラストレーターを志す。
          小学２年生から裏紙にドラゴンの絵を描き続け、テスト裏に落書きでイラストを再開
          黒板に担任の先生の顔をしたキャラクターやムキムキな豚の「豚汁子」を作成し、学生時代から
          イラストレーションを通し学校行事から遊びをサポート。
          <br>
          <br>
          <ul>
            <li>鉛筆画「ドラゴン」 - 2000/06</li>
            <li>「電動スケボー・改」電動キックボードを改造して作成 - 2004/12</li>
            <li>「手作りハンモック」を友人と制作 - 2005/11</li>
            <li>鉛筆画「ドラゴン」 - 2000/06</li>
            <li>「電動スケボー・改」電動キックボードを改造して作成 - 2004/12</li>
            <li>「手作りハンモック」を友人と制作 - 2005/11</li>
            <li>鉛筆画「ドラゴン」 - 2000/06</li>

          </ul>
          {% comment %} <div id="timeline-content">
            <h1>Timeline</h1>
          
            <ul class="timeline">
              <li class="event" data-date="65Million B.C.">
                <h3>Dinosaurs Roamed the Earth</h3>
                <p>RAWWWWWWRRR 🐢🦂</p>
              </li>
              <li class="event" data-date="2005">
                <h3>Creative Component Launched</h3>
                <p>"We can be all things to all people!" 📣</p>    
              </li>
              <li class="event" id="date" data-date="2009">
                <h3>Squareflair was Born</h3>
                <p></p> <p>"We can be all things to Squarespace users!" 📣</p>    
              </li>
              
              <li class="event" data-date="2021">
                
                <h3>Squareflair Today</h3>
                
                <p>"We design and build from scratch!" 📣<p/> <p>When we say <em><strong>100% custom</strong></em> we mean it— and we build all sites on the Squarespace Developer platform.<p/>
          <p>Did you know that all of our pixels are hand-forged from the rarest of subpixels grown and harvested in the <em>Nerd Forest</em>? <br>🤜💥🤛</p>
                
                <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused service!</strong></p>
                
          <p><a href="https://www.squareflair.com">squareflair.com</a></p>
              </li>
            </ul>
          </div> {% endcomment %}
        </p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
{% endblock %}