{% extends 'base.html' %} {% load static %}{% block content %}
<div class="container-fluid" data-aos="fade" data-aos-delay="500">
  <div class="row">
    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Nature</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/a.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Portrait</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/b.png' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">People</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/c.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Architecture</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/d.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Animals</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/e.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Sports</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/f.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Travel</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/g.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">People</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/h.jpg' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="image-wrap-2">
        <div class="image-info">
          <h2 class="mb-3">Architecture</h2>
          <a href="single.html" class="btn btn-outline-white py-2 px-4"
            >More Photos</a
          >
        </div>
        <img
          src="{% static 'hori_material/A.gif' %}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
